/*estilos universales*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}

/*para que el movimiento de escroll al anvegar entre secciones sea suave y no de golpe*/
html {
    scroll-behavior: smooth; 
}

/*estilo para la linea horizontal debajo de los titulos*/
hr{
    width: 100%;
    margin-bottom: 50px;
    background: #56c171;
}

/*estilos para las fuentes (titulos y parrafos)*/

h1{
    color: darkgreen;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    cursor: default;
}

h2{
    color: #435b43;    
    font-size: 28px;
    margin-bottom: 30px;
    cursor: default;
}

h3{
    color: rgb(129, 221, 129);    
    font-size: 30px;
    cursor: default;
}   

p{
    font-size: 1.05rem;
    letter-spacing: 1px;
    color: #676666;
    cursor: default;
}

/*HEADER (CABECERA)-----------------------------------------------------------------------------*/

#cabecera{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(19 59 29), rgb(53 169 82));
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*MENU MOBILE*/
#contenedor-menu-mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    background: rgba(31, 68, 40);
    padding: 0 20px;
    display: none;
    z-index:2;
}

#btn-menu-mobile{
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    margin-top: 10px;

}

#btn-menu-mobile:hover{
    background-color: white;
    border: 2px solid white;
    color: #435b43;
}

#lista-menu-mobile{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

#lista-menu-mobile > li{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-radius: 7px;
}

#lista-menu-mobile > li:hover{
    background: rgba(255, 255, 255, 0.3);
}

#lista-menu-mobile > li > a{
    line-height: 40px;
    color: white;
    text-decoration: none;
}

/*LOGO Y TITULO*/
#logo{
    width: 200px;
    height: 200px;
}

#titulo{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

/*MENU WEB*/
#menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(31, 68, 40,0.9);
    z-index:2;
}

#menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 60px
}

#menu ul li{
    height: 100%;
}

#menu ul li a:hover{
    background: rgba(255, 255, 255, 0.418);
}

#menu ul li a{
    color: rgb(255, 255, 255);
    display: inline-block;
    height:40px;
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    line-height: 40px;
    transition: 0.3s;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
   text-decoration: none;
}

/*SECCIONES (PARA TODAS LAS SESSIONES)-------------------------------------------------------------*/

.secciones{ 
    min-height:100vh;
    padding: 50px 100px;
}

/*SECCION 1 - (QUIENES SOMOS)-----------------------------------------------------------------------*/

#seccion1{
    display: flex;
    flex-direction: row;
}

/*CONTENEDOR TITULO Y PARRAFO*/
#conetendor-quienes-somos{
    width: 60%;
    padding-right: 50px;
}

#conetendor-quienes-somos h1{
    text-align: left;
    margin-bottom: 30px;
}

/*CONTENEDOR VIDEO*/
#contendedor-video{
    width: 40%; 
}

#video-quienes-somos{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 7px;
}

#contendedor-video p{
    text-align: center;
}

/*ESTILOS PARA EL PRIMER ELEMENTO PARRAFO DENTRO DEL CONTENEDOR*/
#contendedor-video p:nth-of-type(1){
    background-color: rgb(31, 68, 40);;
    color: white;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 75px;
    height: 40px;
    line-height: 40px;
}

/*ESTILOS PARA EL SEGUNDO ELEMENTO PARRAFO DENTRO DEL CONTENEDOR*/
#contendedor-video p:nth-of-type(2){
    background-color: #dddddd;
    color: rgb(39, 87, 39);
    border-radius: 5px;
    height: 50px;
    padding: 5px;
}
cite{
    margin-bottom: 20px;
    text-align: center;
    display: block;
}
/*SECCION 2 - (PRODCUTOS)---------------------------------------------------------------------------*/

/*CONTENEDOR DE PRODUCTOS*/
#productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*PRODUCTO*/
.producto{
    width: 27%;
    min-width: 210px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #56c171;
}

/*PRODUCTO IMG*/
.producto img{
    width: 50%;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-bottom:30px
}

/*PRODUCTO TITULO*/
.producto h2{
    text-align: center;
    font-size: 18px;
    background-color: #508f50;
    color: white;
    border-radius: 7px;
    padding:10px;
    height: 100px;
}

/*PRODUCTOS LISTA DE CARACTERISTICAS*/
.producto ul{
    padding: 10px;
}

/*PRODUCTOS CARACTERISTICA*/
.producto ul li{
    margin-bottom: 15px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

/*SECCION 3 - (TE OFRECEMOS)------------------------------------------------------------------*/

/*TABLA*/
#tabla{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    border: none;
    margin-bottom: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

/*TABLA -> FILA DE LA CABECERA*/
thead > tr{
    background: #396939;
    color: white;
}

/*TABLA -> FILA DEL CUERPO*/
tbody tr{
    border-top: 1px solid gray;
}

/*TABLA -> CELDAS DEL CUERPO Y CELDAS DE LA CABECERA*/
#tabla tbody tr td, #tabla thead tr th{
    padding: 10px;
}

/*TABLA -> CELDAS DE LA PRIMERA COLUMA*/
tr td:nth-child(1), thead th:nth-child(1){
    border-right: 1px solid gray;
}

/*CONTENEDOR DE LA CANCIÓN*/
#contenedorCancion audio{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    display: block;
    margin-bottom: 50px;
}

/*CONTENEDOR FORMULARIO*/
#contenedorFormulario{
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
}

/*FORMULARIO TITULO*/
#contenedorFormulario h1{
    margin-bottom: 30px;
    color:#396939;
    font-size: 2.2rem;
    text-align: left;
}
/*FORMULARIO*/
#form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/*FORMULARIO LABELS, CAMPOS, BUTTON*/
#form input, label,button{
    height: 40px;
    line-height: 40px;
}

/*FORMULARIO LABEL*/
#form label{
    font-size: 18px;
    font-weight: bold;
    color: #676666;
    letter-spacing: 0.5px;
}

/*FORMULARIO CAMPOS TIPO INPUT (NOMOBRE Y CORREO)*/
#form input{
        font-size: 15px;
        border: none;
        border-bottom: 1px solid gray;
        color: #676666;
        margin-bottom: 30px;
}

/*FORMULARIO CAMPO TIPO TEXTAREA (MENSAJE)*/
#form textarea{
    height: auto;
    padding: 10px 30px;
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*FORMULARIO INPUT/TEXAREA*/
#form input, textarea{
    padding-left: 30px ;
    padding-right: 30px;
    outline: #508f50;
}

/*FORMULARIO BOTÓN*/
#form button{
    background-color: #508f50;
    border: 1px solid transparent;
    color: white;
    font-size: 15px;
    margin-top: 30px;
}

/*SECCION 4 (TERMINOS Y CONDICIONES)-------------------------------------------------------------*/

/*ITEMS DE LA LISTA DE TERMINOS*/
#seccion4 > ul > li{
    margin-bottom: 18px;
}

/*TITULO DE CADA TERMINO*/
#seccion4 ul li h2{
    margin-bottom: 18px;
}

/*CONDICIONES DE CADA TERMINO*/
ol li{
    list-style: disc;
    margin-left: 50px;
}


/*FOOTER (PIE DE PÁGINA)------------------------------------------------------------------------*/
footer{
    background-color: rgb(32 45 35);
    padding: 30px;
}
footer span{
    display: block;
    color: white;
    margin-top: 15px;   
}


/*(estilos cuando la pantalla tiene un ancho maximo de 920px (mobile y tablet)*/
@media only screen and (max-width: 920px) {

    /*CAMBIO DE MENUS*/

    #contenedor-menu-mobile{
        display: block;
    }
    #menu{
        display: none;
    }

     /*AJUSTES MARGEN INTERNA PARA TODAS LAS SECCIONES*/

    .secciones{ 
        padding: 50px 50px;
    }
    /*SECCION 1 - ¿QUIENES SOMOS? (CAMBIA DE DIRECCION: DE FILA A COLUMNA)*/

    #seccion1{
        flex-direction: column;
    }
    #contendedor-video{
        width: 100%;
        padding-left: 0;
    }
    #conetendor-quienes-somos{
        width: 100%;
        padding-right: 0;
    }
    #titulo-video{
        margin-top: 50px;
    }
    #video-quienes-somos{
        width: 100%;
        margin-top: 30px;
    }
    #conetendor-quienes-somos h1{
        text-align: center;
    }

    /*SECCION 2 - PRODUCTOS(CAMBIA DE DIRECCION: DE FILA A COLUMNA)*/

    #productos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .producto{
        width: 100%;
        margin-bottom: 30px;
    }
    .producto img{
        width: 90%;
    }
    #tabla{
        width: 100%;
    }

    #contenedorFormulario{
        width: 100%;
    }
}


